.videoPreview {
    display: inline-block;
    position: relative;
    overflow: hidden;
    /* This is temporary width and height, these'll be overriden when the source img is loaded.*/
    /* If you already know size of a preview frame you can hardcode it here. */
    width: 160px;
    height: 90px;
}

.videoPreview img {
    width: initial;
    height: initial;
	padding: 0;
	border: none;	
}